body{
    margin: 0px;

}

/* Head */
header{
    background-color: black;
    top: 0;
    height: 70px;
    width: 100%;

}

.fa-building-o{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}

#head_text{
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    padding-left: 20px;
}

/* Main */
#content{
    position: absolute;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 70px 0 70px 0;
}

.links{
    height: 100%;
    width: 33.2%;
    display: inline-block;
}


/* Top 3 links */
#toprow_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50%;
    width: 100%;
}

#music{
    background-color: aqua;
}

#art{
    background-color: blue;
}

#magic{
    background-color: purple;
}

/* Bottom 3 links */
#bottomrow_container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    
}

.links_b{
    bottom: 0;
}

#tech{
    background-color: red;
}

#food{
    background-color: green;
}

#comedy{
    background-color: orange;
}

/* Foot */
footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
}

a{
    color: white;
    font-family: 'Arimo', sans-serif;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
}